{% extends "base.html" %}

{% block header %}
	<h1>Notícias</h1>
{% endblock header %}


{%block content %}
	
		{% for article in latest_news_list %}
    <div class="row">
      <div class="span4">
        <ul class="thumbnails">
          <li class="span3">
            <a href="/wiki/news/{{ article.id }}" class="thumbnail">
              <img src="{{ article.photo.url }}" alt="">
            </a>
          </li>
      </ul>
      </div>

      <div class="span8">
          <h6>{{ article.pub_date }}</h6>
          <h3>{{ article.headline }}</h3>
          <p>
            {{ article.content|truncatewords:40 }}
            <a href="/wiki/news/{{ article.id }}">Leia mais</a>
          </p>

      </div>
    </div>
    {% endfor %}
	

{% endblock content %}