{% extends "base.html" %}

{% block header %}
	<h1>Notícias</h1>
{% endblock header %}


{%block content %}
	
	<ul class="thumbnails">
  	{% for article in latest_news_list %}
  		<li class="span3">
	    	<div class="thumbnail">
    	  		<a href="/wiki/news/{{ article.id }}">
    	  			<img src="{{ article.photo.url }}" alt="{{ article.photo.url }}" />
    	  		</a>
      			<h5>{{ article.headline|truncatewords:10 }}</h5>
      			<p>
      				{{ article.content|truncatewords:25 }}
      				<a href="/wiki/news/{{ article.id }}">Leia mais</a>
      			</p>
      			<small>{{ article.pub_date }}</small> 
    		</div>
  		</li>
	{% endfor %}
	</ul>


{% endblock content %}