{% extends "base.html" %}

{% block header %}
<div class="row">
	<div class="span12">
	</div>
</div>
{% endblock header %}



{% block content %}
    <div class="page-header">
        
        <div class="hero-unit">
        <h1>Uniwiki</h1>
        <p>O Uniwiki é um projeto acadêmico da disciplina de Desenvolvimento Web III da Unigran. O projeto consiste em aplicar os conhecimentos adquiridos nas displinas anteriores para implementar um sistemas web básico que atenda a certos pré-requisitos.</p>
        <p>
            <a class="btn btn-primary btn-large" href="/about">
                Saber mais
            </a>
        </p>
    </div>
{% endblock content %}